// Override defaults
$primary-color: #2ca8ff !default;

// Import toolkot
@import "./now-ui-kit";

// Rest of the styles
.home-background-image {
  background-image: url(../images/home-background.jpg);
}

.card-title {
  color: #2ca8ff;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-body {
  padding: 5px;
}

.index-page {
  .home-page-buttons {
    > a {
      margin-left: 20px;
    }

    > a:first-child {
      margin-left: 0px;
    }

    span {
      font-size: 1.5em;
      margin-left: 10px;
    }
  }
}

.inner-page {
  .view-page-container {
    width: 85vmin;
  }
}
