// Override defaults
$primary-color: #2ca8ff !default;

// Import toolkot
@import "./now-ui-kit";

// Rest of the stypes
.home-background-image {
  background-image: url(../images/home-background.png);
}

.index-page {
  .home-page-buttons {
    > a {
      margin-left: 20px;
    }

    > a:first-child {
      margin-left: 0px;
    }

    span {
      font-size: 1.5em;
      margin-left: 10px;
    }
  }
}

.inner-page {
  .view-page-container {
    width: 80vmin;
  }
}
